<section id="contacts">
	<div class="padding-block">
		<h3>Contacts</h3>

		<textarea id="contactsTextarea"></textarea>

		<div class="vcard">
			<p class="fn">Facebook: <a class="url" href="https://www.facebook.com/danielostapenko">Daniel Ostapenko</a><p>
			<p class="adr">
			<span class="region">Kyiv</span><br>
			<span class="country-name">Ukraine</span>
			</p>
			<p class="tel">+38 (063)153 38 48</p>
		</div>
	</div>

	<div class="center-thank-you">
		<span>Thank you!</span>
	</div>

	<div class="scroll-icon-container" id="contactsScrollIcon">
		<svg class="icon icon-circle-down" id="scroll-down-second"><use xlink:href="#icon-circle-down"></use></svg>
	</div>
</section>
