<section id="contacts">
	<div class="padding-block">
		<h3>Let's be in touch</h3>

		<textarea id="contactsTextarea"></textarea>

		<div id="contacts-card" class="vcard">
			<p class="fn">Facebook: <a class="url" href="https://www.facebook.com/danielostapenko">facebook.com/danielostapenko</a><p>
      <p class="fn">Github: <a class="url" href="https://github.com/denieler">github.com/denieler</a><p>
      <p class="fn">Personal blog: <a class="url" href="http://denieler.blogspot.com">denieler.blogspot.com</a><p>
      <p class="adr">
        Location: <br />
        <span class="region">Barcelona</span>, <span class="country-name">Spain</span>
			</p>
		</div>
	</div>

	<div id="greetings" class="center-block">
    <span>Nice to meet you!</span>
	</div>

	<div class="scroll-icon-container" id="contactsScrollIcon">
		<svg class="icon icon-circle-down" id="scroll-down-second"><use xlink:href="#icon-circle-down"></use></svg>
	</div>
</section>
