#skills {
  opacity: 0;

	#skillsTextarea {
		height: 80px;
	}

  #skillsTextarea_Net {
    margin: 25px 0 0 0;

		height: 60px;
	}

  .skills-typeform {
    opacity: 0;
    transition: opacity 0.5s ease;

    .skills-typeform__logo {
      display: flex;
      justify-content: center;

      .skills-typeform__logo__link {
        text-decoration: none;
      }

      .skills-typeform__logo__image {
        height: 180px;
      }
    }

    .skills-typeform__desc {
      margin-top: 2em;

      .skills-typeform__desc__list {
        opacity: 0;
        transition: opacity 0.5s ease;

        margin-top: -1rem;

        .skills-typeform__desc__list__website {
          margin-top: 2rem;
        }
      }
    }
  }

  .other-frontend-skills {
    margin-top: 3em;

    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .skills-charts {
    opacity: 0;
    transition: opacity 0.5s ease;

    .block {

      .header {
        img {
          width: 100%;
        }
      }

      .block-body {
        border: 1px solid #efefef;
        height: 160px;
        padding: 20px;

        &.gray {
          background-color: #f8f8f8;
        }
      }
    }

    .js {
      /*color: #fefefa;*/

      /*background-color: #E91E63;*/
    }

    .css {
      /*background-color: #fdfdfd;*/
    }

    .net {
      /*background-color: #fdfdfd;*/
    }

    .mssql {
      /*color: #fefefa;*/

      /*background-color: #2196F3;*/
    }
  }
}
