#skills {
  opacity: 0;

	#skillsTextarea {
		height: 80px;
	}

  #skillsTextarea_Net {
    margin: 25px 0 0 0;

		height: 60px;
	}

  .other-frontend-skills {
    margin-top: 3em;

    opacity: 0;
    transition: opacity 0.5s ease;
  }

  .skills-charts {
    opacity: 0;
    transition: opacity 0.5s ease;

    .block {

      .header {
        img {
          width: 100%;
        }
      }

      .block-body {
        border: 1px solid #efefef;
        height: 160px;
        padding: 20px;

        &.gray {
          background-color: #f8f8f8;
        }
      }
    }

    .js {
      /*color: #fefefa;*/

      /*background-color: #E91E63;*/
    }

    .css {
      /*background-color: #fdfdfd;*/
    }

    .net {
      /*background-color: #fdfdfd;*/
    }

    .mssql {
      /*color: #fefefa;*/

      /*background-color: #2196F3;*/
    }
  }
}
