<section id="typeform-experience">
  <div class="padding-block">
    <h3>The most recent job</h3>

    <textarea id="firstTextarea"></textarea>

    <div id="skills-typeform" class="skills-typeform">
      <div class="skills-typeform__logo">
        <img src="assets/images/typeform-logo.svg" class="skills-typeform__logo__image" alt="typeform logo" />
      </div>

      <div class="skills-typeform__desc">
        <textarea id="secondTextarea"></textarea>
        <div class="skills-typeform__desc__list">
          <ul>
            <li>Javascript, ES7, webpack</li>
            <li>React, Redux</li>
            <li>CSS modules, styled-components</li>
            <li>following best practices using: unit testing with Jest</li>
            <li>time to time we have to touch old code yet, which is using BackboneJs, JQuery, Gulp</li>
            <li>on backend it's PHP with Symfony framework on top and Go</li>
            <li>MySql</li>
            <li>AWS SQS, AWS S3</li>
            <li>Microservices-based architecture</li>
          </ul>
          <div class="skills-typeform__desc__list__website">
            Website: <a href="https://www.typeform.com">Typeform.com</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="scroll-icon-container" id="skillsScrollIcon">
    <svg class="icon icon-circle-down" id="scroll-down-second"><use xlink:href="#icon-circle-down"></use></svg>
  </div>
</section>
