<div id="skills">
	<h3 class="block">Skills</h3>

	<textarea id="skillsTextarea" class="block"></textarea>

	<div class="skills-charts">
		<div class="row">
			<div class="col-md-5 block js">
				<h2>JS</h2>
				<ul>
					<li>VanillaJS</li>
					<li>Angular JS</li>
					<li>EmberJS</li>
					<li>Ember-CLI</li>
					<li>Knockout</li>
				</ul>
			</div>

			<div class="col-md-7 block css">
				<h2>CSS</h2>
				<ul>
					<li>Bootstrap</li>
					<li>Material Design</li>
					<li>Pure CSS</li>
				</ul>
			</div>
		</div>
	</div>

	<textarea id="skillsTextarea_Net" class="block"></textarea>

	<div class="skills-charts">
		<div class="row">
			<div class="col-md-8 block net">
				<h2>.NET</h2>
				<ul>
					<li>.NET Framework 4.5/Roslyn</li>
					<li>WCF Services</li>
					<li>REST architecture</li>
					<li>Unit, System, Integration Testng</li>
				</ul>
			</div>

			<div class="col-md-4 block mssql">
				<h2>MS SQL</h2>
				<ul>
					<li>DB Performance Optimisation</li>
					<li>ORMs (EF6, LINQ2SQL)</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="scroll-icon-container" id="skillsScrollIcon">
		<svg class="icon icon-circle-down" id="scroll-down-second"><use xlink:href="#icon-circle-down"></use></svg>
	</div>
</div>
