<section id="skills">
	<div class="padding-block">
		<h3>Skills</h3>

    <textarea id="skillsTextarea"></textarea>

    <div id="skills-typeform" class="skills-typeform">
      <div class="skills-typeform__logo">
        <img src="assets/images/typeform-logo.svg" class="skills-typeform__logo__image" alt="typeform logo" />
      </div>

      <div class="skills-typeform__desc">
        <textarea id="skills-typeform__desc__textarea"></textarea>
        <div class="skills-typeform__desc__list">
          <ul>
            <li>React JS</li>
            <li>managing global state using Redux</li>
            <li>following best practices using: unit testing with Jest, ES7</li>
            <li>we are using PostCss and moving to StyledComponents</li>
            <li>on backend it's PHP and Go based on microservices approach</li>
            <li>MySql databases, AWS S3, AWS SQS, etc.</li>
          </ul>
          <div class="skills-typeform__desc__list__website">
            Website: <a href="https://www.typeform.com">Typeform.com</a>
          </div>
        </div>
      </div>
    </div>

    <div id="other-frontend-skills" class="other-frontend-skills">
      <h3>Front-End</h3>

      <textarea id="other-frontend-skills__desc__textarea"></textarea>
    </div>
	</div>

	<div class="padding-block">
		<textarea id="skillsTextarea_Net"></textarea>
	</div>

	<div class="skills-charts row" id="skills-part-2">
		<div class="row-fluid">
			<div class="col-md-6 block net">
				<div class="header">
					<img src="assets/images/net-skill.png" alt=".net skills" />
				</div>
				<div class="block-body">
					<ul>
						<li>.NET Framework 4.5/Roslyn</li>
						<li>WCF Services</li>
						<li>REST architecture</li>
						<li>Unit-, System-, Integration- Testng</li>
					</ul>
				</div>
			</div>

			<div class="col-md-6 block mssql">
				<div class="header">
					<img src="assets/images/mssql-skill.png" alt=".ms sql server skills" />
				</div>
				<div class="block-body">
					<ul>
						<li>DB Performance Optimisation</li>
						<li>ORMs (EF6, LINQ2SQL)</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<div class="scroll-icon-container" id="skillsScrollIcon">
		<svg class="icon icon-circle-down" id="scroll-down-second"><use xlink:href="#icon-circle-down"></use></svg>
	</div>
</section>
