<section id="experience">
	<div class="padding-block">
		<h3>Experience</h3>

		<textarea id="experienceTextarea"></textarea>

		<textarea id="job1-header"></textarea>
		<textarea id="job1-description"></textarea>
		<textarea id="job2-header"></textarea>
		<textarea id="job2-description"></textarea>
		<textarea id="job3-header"></textarea>
		<textarea id="job3-description"></textarea>
		<textarea id="job4-header"></textarea>
		<textarea id="job4-description"></textarea>
	</div>

	<div class="scroll-icon-container" id="experienceScrollIcon">
		<svg class="icon icon-circle-down" id="scroll-down-third"><use xlink:href="#icon-circle-down"></use></svg>
	</div>
</section>
